.topo {
    width: 100%;
    background-color: #1b3675;
    border-bottom: 1px solid #FFF;
    position: fixed;
}

.topo-conteudo {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin: 0 auto;
}

.topo-logo-box {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.topo-logo {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.topo-nome-empresa {
    color: #FFF;
    font-size: 26px;
    text-decoration: none;
}

.topo-link {
    color: #FFF;
    text-decoration: none;
    padding: 0 15px 10px 15px;
    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    font-weight: 600;
}

.topo-link:hover{
    border-bottom: 3px solid #FFF;
}

@media (max-width: 600px){
    .topo-nome-empresa {
        display: none;
    }

    .home {
        display: none;
    }

    .topo-link {
        padding: 0 11px 5px 11px;
    }

    .lista-sobre-aparelho {
        flex-direction: column;
    }
}